/* styles.css */

/* Styling for TextFields */
.text-field {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

/* Styling for Text elements */
.text {
    -fx-font-size: 14px;
    -fx-fill: #333;
}

/* Styling for Buttons */
.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-border-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

/* Hover effect for Buttons */
.button:hover {
    -fx-background-color: #45a049; /* Darker Green */
    -fx-border-color: #45a049;
}

/* Styling for Exit Button */
#exitBtn {
    -fx-background-color: #f44336; /* Red */
    -fx-border-color: #f44336;
}

/* Hover effect for Exit Button */
#exitBtn:hover {
    -fx-background-color: #d32f2f; /* Darker Red */
    -fx-border-color: #d32f2f;
}

/* .background-pane {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
} */